.form{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 9rem;

}
input{
    margin: 0 0 .5rem 0;
}
.form button{
    width: 50px;
}
.form button:hover {
    cursor: pointer;
    background-color: pink;
    border: 1px solid transparent;
    width: 50px;
}